@charset "UTF-8";
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
@import url(" https://fonts.cdnfonts.com/css/rubik ");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.get-started__get-started_btn, .header__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .get-started, .see-more, .corporation-list, .header__title_desc, .var__list, .var__mobile-list, .header__top_var {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .corporations, .get-started__get-started_btn, .header__get-started_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.get-started__get-started_btn, .header__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .get-started, .see-more, .corporation-list, .header__title_desc, .var__list, .var__mobile-list, .header__top_var {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .corporations, .get-started__get-started_btn, .header__get-started_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 852px;
}
@media (max-width: 769px) {
  .header {
    width: 770px;
    height: 678px;
  }
}
@media (max-width: 376px) {
  .header {
    width: 375px;
  }
}

.header-bg {
  position: absolute;
  top: 0;
  z-index: 0;
}

.header-bg-tablet__twin-towers {
  position: absolute;
  top: 489px;
  z-index: 0;
}

.header-bg-tablet {
  position: absolute;
  z-index: 0;
  top: 0;
}

.header-bg-mobile__twin-towers {
  position: absolute;
  z-index: 0;
  top: 489px;
}

.header-bg-mobile {
  position: absolute;
  z-index: 0;
  top: 0;
}

.header__top {
  position: absolute;
  z-index: 1;
  width: 1170px;
  height: 55px;
  margin-top: 40px;
  left: 135px;
}
@media (max-width: 769px) {
  .header__top {
    width: 712px;
    height: 40px;
    left: 37px;
  }
}
@media (max-width: 376px) {
  .header__top {
    width: 317px;
    height: 32px;
  }
}

.burger {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0);
}
@media (max-width: 769px) {
  .burger {
    justify-content: space-around;
  }
}
@media (max-width: 376px) {
  .burger {
    width: 30px;
    height: 30px;
  }
}

.burger-stroke {
  height: 0;
  border: 2.5px solid #fff;
  border-radius: 5px;
  width: 100%;
}

.var__mobile-list {
  width: 190px;
  height: 30px;
}
@media (max-width: 769px) {
  .var__mobile-list {
    width: 230px;
  }
}
@media (max-width: 376px) {
  .var__mobile-list {
    width: 168px;
  }
}

.header__top__logo {
  width: 190px;
  height: 30px;
}
@media (max-width: 769px) {
  .header__top__logo {
    width: 153px;
  }
}
@media (max-width: 376px) {
  .header__top__logo {
    width: 118px;
    height: 20px;
  }
}

.var__list {
  width: 404px;
  height: 19px;
}

.var__list__link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: none;
  color: #fff;
}

.var__list__link:hover {
  color: #fff;
}

.header-content {
  position: absolute;
  z-index: 1;
  margin-top: 200px;
  margin-left: 315px;
}
@media (max-width: 769px) {
  .header-content {
    width: 512px;
    height: 415px;
    margin-top: 190px;
    margin-left: 127px;
  }
}
@media (max-width: 376px) {
  .header-content {
    width: 317px;
    height: 402px;
    margin-top: 189px;
    margin-left: 29px;
  }
}

.header__title_desc {
  width: 378px;
  height: 43px;
  margin-left: 216px;
}
@media (max-width: 769px) {
  .header__title_desc {
    width: 344px;
    height: 31px;
    margin: 0 auto;
    padding-top: 10px;
  }
}
@media (max-width: 376px) {
  .header__title_desc {
    width: 170px;
    height: 31px;
    margin: 0 auto;
  }
}

.title__desc__stroke {
  border: 0.5px solid #fff;
  stroke: #fff;
  width: 60px;
}
@media (max-width: 769px) {
  .title__desc__stroke {
    width: 32px;
  }
}
@media (max-width: 376px) {
  .title__desc__stroke {
    width: 16px;
  }
}

.title_desc-txt {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  opacity: 0.8;
}
@media (max-width: 769px) {
  .title_desc-txt {
    font-size: 26px;
    margin: 0 auto;
  }
}

.header__title {
  display: flex;
  flex-direction: column;
  width: 812px;
  height: 107px;
  align-items: baseline;
  margin-top: 30px;
}
@media (max-width: 769px) {
  .header__title {
    width: 370px;
    height: 55px;
    margin-top: 39px;
    margin-left: 81px;
  }
}
@media (max-width: 376px) {
  .header__title {
    width: 317px;
    height: 45px;
    margin-left: 0;
  }
}

.header__title-txt {
  font-family: "Rubik", sans-serif;
  font-size: 90px;
  font-weight: 600;
  line-height: auto;
  color: #fff;
  letter-spacing: 0.02em;
}
@media (max-width: 769px) {
  .header__title-txt {
    font-size: 40px;
  }
}
@media (max-width: 376px) {
  .header__title-txt {
    font-size: 35px;
  }
}

.header__title-accent-stroke {
  padding-left: 327px;
  margin-top: -16px;
}
@media (max-width: 769px) {
  .header__title-accent-stroke {
    width: 211px;
    height: 7px;
    padding-left: 151px;
    margin-top: -7px;
  }
}
@media (max-width: 376px) {
  .header__title-accent-stroke {
    width: 184px;
    padding-left: 130px;
  }
}

.header__desc {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 182%;
  color: #fff;
  opacity: 0.6;
  margin: 30px auto;
  width: 686px;
  height: 80px;
  text-align: center;
}
@media (max-width: 769px) {
  .header__desc {
    font-size: 15px;
    line-height: 267%;
    width: 512px;
    height: 80px;
  }
}
@media (max-width: 376px) {
  .header__desc {
    font-size: 10px;
    line-height: 300%;
    width: 317px;
    height: 60px;
  }
}

.header__get-started_btn {
  margin: 70px auto;
}

.get-started__get-started_btn, .header__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .get-started, .see-more, .corporation-list, .header__top_var, .var__mobile-list, .var__list, .header__title_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .corporations, .get-started__get-started_btn, .header__get-started_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.corporations {
  width: 1440px;
  height: 140px;
  background-color: #fff;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
@media (max-width: 769px) {
  .corporations {
    width: 768px;
    height: 155px;
  }
}
@media (max-width: 376px) {
  .corporations {
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
  }
}

.corporation-list {
  width: 1111px;
  height: 35px;
}
@media (max-width: 769px) {
  .corporation-list {
    width: 712px;
    height: 35px;
  }
}
@media (max-width: 376px) {
  .corporation-list {
    width: 151px;
    height: 420px;
    flex-direction: column;
    margin: 0 auto;
  }
}

.section-divider {
  border: 1px solid #A3B938;
  width: 771px;
  height: 1px;
}
@media (max-width: 376px) {
  .section-divider {
    width: 375px;
  }
}

.get-started__get-started_btn, .header__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .get-started, .see-more, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .get-started__get-started_btn, .header__get-started_btn, .corporations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.advantages {
  width: 1170px;
  height: 567px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
@media (max-width: 769px) {
  .advantages {
    width: 773px;
    height: 1634px;
    flex-direction: column;
    margin: 67px auto;
  }
}
@media (max-width: 376px) {
  .advantages {
    width: 375px;
    height: 1836px;
    flex-direction: column;
    margin: 128px auto;
  }
}

.advantages__txt-group {
  width: 488px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 769px) {
  .advantages__txt-group {
    width: 351px;
    height: 368px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
@media (max-width: 376px) {
  .advantages__txt-group {
    width: 289px;
    height: 378px;
    flex-direction: column;
    margin: 0 auto;
  }
}

.advantages__title {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 155%;
  color: #253D32;
  letter-spacing: 0.02em;
  height: 130px;
}
@media (max-width: 769px) {
  .advantages__title {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 217%;
    color: #253D32;
    width: 347px;
    text-align: center;
  }
}
@media (max-width: 376px) {
  .advantages__title {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 260%;
    color: #253D32;
    width: 289px;
  }
}

.advantages__desc {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 182%;
  color: #78847D;
  width: 424px;
  height: 160px;
  margin-top: -10px;
}
@media (max-width: 769px) {
  .advantages__desc {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
    color: #78847D;
    text-align: center;
    width: 351px;
    margin-top: 0;
  }
}
@media (max-width: 376px) {
  .advantages__desc {
    width: 289px;
  }
}

.see-more {
  width: 150px;
  height: 28px;
}

.advantages-group {
  display: grid;
  grid-template-rows: reapeat(2, 239px);
  grid-template-columns: 228px 254px;
  gap: 80px;
}
@media (max-width: 769px) {
  .advantages-group {
    width: 228px;
    height: 1134px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
}
@media (max-width: 376px) {
  .advantages-group {
    width: 230px;
    height: 1034px;
  }
}

.advantage-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (max-width: 769px) {
  .advantage-block {
    align-items: center;
  }
}
@media (max-width: 376px) {
  .advantage-block {
    align-items: baseline;
  }
}

.advantage-block__title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: none;
  color: #253D32;
  margin-top: 40px;
}
@media (max-width: 769px) {
  .advantage-block__title {
    text-align: center;
    width: 221px;
    margin-top: 20px;
  }
}
@media (max-width: 376px) {
  .advantage-block__title {
    width: 203px;
    text-align: left;
  }
}

.advantage-block__desc {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 178%;
  color: #78847D;
  margin-top: 25px;
}
@media (max-width: 769px) {
  .advantage-block__desc {
    text-align: center;
    width: 228px;
    margin-top: 15px;
  }
}
@media (max-width: 376px) {
  .advantage-block__desc {
    text-align: left;
  }
}

.advantage-block__further {
  padding-left: 10px;
}
.advantage-block__further .advantage-block__title {
  width: 254px;
}
@media (max-width: 769px) {
  .advantage-block__further {
    padding-left: 0;
  }
}
@media (max-width: 376px) {
  .advantage-block__further {
    width: 220px;
  }
}

.get-started__get-started_btn, .header__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .get-started__get-started_btn, .header__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .get-started, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list, .see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .get-started__get-started_btn, .header__get-started_btn, .corporations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.get-started {
  margin: 88px auto;
  width: 1224px;
  height: 470px;
}
@media (max-width: 769px) {
  .get-started {
    margin: 0 auto;
    width: 768px;
    height: 938px;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .get-started {
    width: 375px;
    height: 833px;
    justify-content: space-around;
  }
}

.get-started::before {
  content: "";
  background-image: url(../../sсss/get-started/get-started-img/monitor.jpg);
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 769px) {
  .get-started::before {
    height: 411px;
  }
}
@media (max-width: 376px) {
  .get-started::before {
    height: 242px;
  }
}

.get-started__txt-group {
  width: 488px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 769px) {
  .get-started__txt-group {
    mt: 0;
    width: 376px;
    height: 530px;
    align-items: center;
    padding-top: 50px;
  }
}
@media (max-width: 376px) {
  .get-started__txt-group {
    width: 317px;
    height: 500px;
    padding-top: 0;
  }
}

.get-started__title {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 155%;
  color: #253D32;
  letter-spacing: 0.02em;
  width: 488px;
}
@media (max-width: 769px) {
  .get-started__title {
    width: 376px;
    height: 260px;
    text-align: center;
  }
}
@media (max-width: 376px) {
  .get-started__title {
    width: 317px;
    height: 200px;
    line-height: normal;
  }
}

.get-started__desc {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 182%;
  color: #78847D;
}
@media (max-width: 769px) {
  .get-started__desc {
    font-size: 22px;
    width: 336px;
    height: 120px;
    text-align: center;
  }
}
@media (max-width: 376px) {
  .get-started__desc {
    width: 317px;
    line-height: normal;
  }
}

@media (max-width: 769px) {
  .get-started__get-started_btn {
    margin: 20px auto;
  }
}

.after-get-started {
  margin-top: 40px;
}

.header__get-started_btn, .get-started__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .help-u__variant__topic-titles, .help-u__variant__circles, .help-u__variant-group, .help-u__txt-group, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list, .see-more, .get-started {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .variant__topic-circle, .header__get-started_btn, .corporations, .get-started__get-started_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.help-u {
  width: 1440px;
  height: 664px;
  background: #f6fbf9;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 769px) {
  .help-u {
    width: 768px;
    height: 800px;
  }
}
@media (max-width: 376px) {
  .help-u {
    width: 375px;
  }
}

.help-u__txt-group {
  width: 479px;
  height: 121px;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 769px) {
  .help-u__txt-group {
    width: 256px;
    height: 195px;
  }
}

.help-u__title {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 155%;
  color: #253D32;
  text-align: center;
}
@media (max-width: 769px) {
  .help-u__title {
    width: 256px;
    height: 217px;
  }
}

.help-u__desc {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: #78847D;
}
@media (max-width: 769px) {
  .help-u__desc {
    width: 228px;
    text-align: center;
  }
}

.help-u__variant-group {
  width: 1138px;
  height: 205px;
  flex-direction: column;
  margin-top: 50px;
}
@media (max-width: 769px) {
  .help-u__variant-group {
    width: 237px;
    overflow-x: scroll;
    height: 280px;
  }
}
@media (max-width: 376px) {
  .help-u__variant-group {
    width: 301px;
  }
}

.help-u__variant__circles {
  width: 971px;
  height: 100px;
  margin-top: 50px;
}
@media (max-width: 769px) {
  .help-u__variant__circles {
    margin-left: 925px;
    width: 940px;
  }
}

.variant__topic-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #a2bdaa;
  background-color: #fff;
  box-shadow: 0 20px 30px 0 rgba(118, 153, 115, 0.05);
  position: relative;
  animation-name: topic-circle_reverse;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.variant__topic-circle:hover {
  animation-fill-mode: forwards;
  animation-name: topic-circle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.variant__choisen {
  opacity: 0;
  position: absolute;
  animation-name: crystal-fade-out;
  animation-duration: 1s;
}

.variant__choisen:hover {
  animation-fill-mode: forwards;
  animation-name: crystal-fade-in;
}

.help-u__variant__topic-titles {
  width: 1138px;
  height: 80px;
  margin: 25px auto;
}
@media (max-width: 376px) {
  .help-u__variant__topic-titles {
    margin-left: 35px;
  }
}

.variant__topic-title {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 182%;
  color: #78847D;
  text-align: center;
  width: 237px;
}

.help-u__see-more {
  margin-top: 60px;
}

@keyframes topic-circle {
  from {
    width: 50px;
    height: 50px;
    border: 1px solid #a2bdaa;
    margin-left: 0;
  }
  to {
    width: 100px;
    height: 100px;
    border: none;
    margin-left: -10px;
  }
}
@keyframes topic-circle_reverse {
  from {
    width: 100px;
    height: 100px;
    border: none;
    margin-left: -10px;
  }
  to {
    width: 50px;
    height: 50px;
    border: 1px solid #a2bdaa;
    margin-left: 0;
  }
}
@keyframes crystal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes crystal-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header__get-started_btn, .get-started__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .article_group, .article-type-chosen, .articles-section, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list, .see-more, .get-started, .help-u__txt-group, .help-u__variant-group, .help-u__variant__circles, .help-u__variant__topic-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .header__get-started_btn, .corporations, .get-started__get-started_btn, .variant__topic-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.articles-section {
  width: 1440px;
  height: 955px;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 769px) {
  .articles-section {
    width: 768px;
    height: 2000px;
    margin: auto;
    justify-content: flex-start;
  }
}
@media (max-width: 376px) {
  .articles-section {
    width: 375px;
    height: 2036px;
  }
}

.articles__articles {
  width: 1170px;
  height: 585px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .articles__articles {
    width: 369px;
    height: 1675px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 376px) {
  .articles__articles {
    width: 333px;
    height: 1760px;
  }
}

.articles-section_articles-titles {
  width: 1171px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 120px;
}
@media (max-width: 769px) {
  .articles-section_articles-titles {
    flex-direction: column;
    width: 417px;
    height: 129px;
    align-items: center;
  }
}
@media (max-width: 376px) {
  .articles-section_articles-titles {
    width: 345px;
    height: 124px;
  }
}

.articles-title {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 155%;
  color: #253D32;
  letter-spacing: 0.02em;
  width: 488px;
  height: 130px;
}
@media (max-width: 769px) {
  .articles-title {
    width: 298px;
    height: 80px;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 167%;
    color: #253D32;
    text-align: center;
  }
}

.articles__articles-type_group {
  width: 467px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 769px) {
  .articles__articles-type_group {
    width: 417px;
    height: 29px;
  }
}
@media (max-width: 376px) {
  .articles__articles-type_group {
    width: 345px;
    height: 24px;
  }
}

.articles__articles-type {
  width: 218px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #78847D;
  text-align: center;
}
@media (max-width: 768px) {
  .articles__articles-type {
    width: 185px;
    height: 14px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #78847D;
  }
}
@media (max-width: 375px) {
  .articles__articles-type {
    width: 153px;
    height: 12px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #78847D;
  }
}

.article-type-chosen {
  flex-direction: column;
  width: 182px;
  height: 40px;
}
@media (max-width: 769px) {
  .article-type-chosen {
    width: 185px;
    height: 29px;
  }
}
@media (max-width: 376px) {
  .article-type-chosen {
    width: 153px;
    height: 24px;
  }
}

.article-type-chosen_txt {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #253D32;
}
@media (max-width: 769px) {
  .article-type-chosen_txt {
    width: 417px;
    height: 29px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #78847D;
  }
}
@media (max-width: 376px) {
  .article-type-chosen_txt {
    width: 153px;
    height: 12px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #253D32;
  }
}

.article-chosen_underline {
  width: 104px;
  height: 3px;
  background-color: #98AA28;
}
@media (max-width: 769px) {
  .article-chosen_underline {
    width: 121px;
  }
}
@media (max-width: 376px) {
  .article-chosen_underline {
    width: 100px;
  }
}

.articles-section__article {
  width: 270px;
  height: 585px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (max-width: 769px) {
  .articles-section__article {
    width: 356px;
    height: 535px;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
  }
}
@media (max-width: 376px) {
  .articles-section__article {
    width: 333px;
    height: 550px;
  }
}

.main-article {
  width: 540px;
  height: 585px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .main-article {
    width: 356px;
    height: 455px;
    justify-content: space-between;
  }
}
@media (max-width: 376px) {
  .main-article {
    width: 333px;
    height: 430px;
  }
}

.main-article-img {
  width: 540px;
  height: 343px;
}
@media (max-width: 769px) {
  .main-article-img {
    width: 356px;
    height: 222px;
  }
}
@media (max-width: 376px) {
  .main-article-img {
    width: 333px;
    height: 208px;
  }
}

.article-img {
  background-image: url(../../sсss/articles/article-img/SE.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 343px;
  background-size: cover;
}
@media (max-width: 769px) {
  .article-img {
    height: 222px;
  }
}
@media (max-width: 376px) {
  .article-img {
    height: 208px;
  }
}

.article__txt-group {
  width: 540px;
  height: 216px;
  margin-top: 25px;
}
@media (max-width: 769px) {
  .article__txt-group {
    width: 356px;
    height: 52px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 376px) {
  .article__txt-group {
    width: 333px;
    margin-top: 30px;
  }
}

.article__hired-title-img {
  background-image: url(../../sсss/articles/article-img/digital.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 245px;
}
@media (max-width: 769px) {
  .article__hired-title-img {
    height: 323px;
  }
}
@media (max-width: 376px) {
  .article__hired-title-img {
    height: 302px;
  }
}

.article__hired-title {
  width: 270px;
  height: 245px;
}
@media (max-width: 769px) {
  .article__hired-title {
    width: 356px;
    height: 323px;
  }
}
@media (max-width: 376px) {
  .article__hired-title {
    width: 333px;
    height: 302px;
  }
}

.article__corona-title {
  width: 270px;
  height: 245px;
}
@media (max-width: 769px) {
  .article__corona-title {
    width: 356px;
    height: 323px;
  }
}
@media (max-width: 376px) {
  .article__corona-title {
    width: 333px;
    height: 302px;
  }
}

.corona-title-img {
  background-image: url(../../sсss/articles/article-img/pribter.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 245px;
}
@media (max-width: 769px) {
  .corona-title-img {
    height: 323px;
  }
}
@media (max-width: 376px) {
  .corona-title-img {
    height: 302px;
  }
}

.main-article__txt-group {
  width: 540px;
  height: 108px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
@media (max-width: 769px) {
  .main-article__txt-group {
    width: 356px;
    height: 52px;
    flex-direction: row;
    margin-top: 20px;
  }
}
@media (max-width: 376px) {
  .main-article__txt-group {
    width: 333px;
    height: 41px;
    margin-top: 30px;
  }
}

.article__data {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #808371;
  letter-spacing: 0.02em;
  width: 113px;
  height: 17px;
}
@media (max-width: 769px) {
  .article__data {
    width: 144px;
    height: 41px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #808371;
    margin-top: 0;
    text-align: left;
  }
}
@media (max-width: 376px) {
  .article__data {
    width: 90px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #808371;
  }
}

.main-article__data {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #808371;
  width: 146px;
  height: 21px;
}
@media (max-width: 769px) {
  .main-article__data {
    width: 144px;
    height: 41px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #808371;
    text-align: left;
  }
}
@media (max-width: 376px) {
  .main-article__data {
    width: 90px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #808371;
  }
}

.article__title {
  width: 270px;
  height: 72px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #253D32;
  margin-top: 15px;
}
@media (max-width: 769px) {
  .article__title {
    width: 222px;
    height: 52px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 144%;
    color: #253D32;
    margin-top: 0;
    text-align: right;
  }
}
@media (max-width: 376px) {
  .article__title {
    width: 220px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: #253D32;
  }
}

.main-article__title {
  width: 540px;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 138%;
  color: #253D32;
}
@media (max-width: 769px) {
  .main-article__title {
    width: 222px;
    height: 52px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 144%;
    color: #253D32;
    margin-top: 0;
    text-align: right;
  }
}
@media (max-width: 376px) {
  .main-article__title {
    width: 220px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: #253D32;
  }
}

.article__desc {
  width: 270px;
  height: 90px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
  color: #78847D;
  margin-top: 16px;
}

.article__read-more {
  margin-top: 40px;
  border: 1px solid #A3B938;
  border-radius: 192px;
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  padding: 19px 19px;
}
@media (max-width: 769px) {
  .article__read-more {
    padding: 10px 10px;
    margin-top: 30px;
  }
}

.main__read-more {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #A3B938;
  letter-spacing: 0.02em;
  padding: 22px 50px;
}
@media (max-width: 769px) {
  .main__read-more {
    padding: 16px 35px;
  }
}

.article_group {
  width: 580px;
  height: 585px;
}
@media (max-width: 769px) {
  .article_group {
    width: 369px;
    height: 1140px;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .article_group {
    width: 333px;
    height: 1240px;
  }
}

.articles_devider {
  width: 396px;
  height: 3px;
  background-color: #98AA28;
  margin-top: 30px;
}
@media (max-width: 769px) {
  .articles_devider {
    width: 396px;
    margin-top: 20px;
  }
}
@media (max-width: 376px) {
  .articles_devider {
    width: 333px;
    margin-top: 30px;
  }
}

.header__get-started_btn, .get-started__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .SUSCRIBE__SUBS, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list, .see-more, .get-started, .help-u__txt-group, .help-u__variant-group, .help-u__variant__circles, .help-u__variant__topic-titles, .articles-section, .article-type-chosen, .article_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subs-button, .header__get-started_btn, .corporations, .get-started__get-started_btn, .variant__topic-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.subscribe {
  width: 1170px;
  height: 523px;
  margin: 80px auto;
  position: relative;
}
@media (max-width: 769px) {
  .subscribe {
    width: 768px;
    height: 382px;
  }
}
@media (max-width: 376px) {
  .subscribe {
    width: 375px;
    height: 671px;
  }
}

.subscribe-bg {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 0;
}

.subs__txt {
  width: 659px;
  height: 182px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  margin-left: 130px;
}
@media (max-width: 769px) {
  .subs__txt {
    margin-top: 72px;
    margin-left: 93px;
    width: 416px;
    height: 117px;
  }
}
@media (max-width: 376px) {
  .subs__txt {
    margin-left: 56px;
    margin-top: 186px;
    width: 264px;
    height: 42px;
  }
}

.subs__title {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 172%;
  color: #fff;
  letter-spacing: 0.01em;
  height: 110px;
}
@media (max-width: 769px) {
  .subs__title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
  }
}

.SUSCRIBE__SUBS {
  width: 645px;
  height: 79px;
  position: absolute;
  z-index: 1;
  margin-top: 344px;
  margin-left: 126px;
}
@media (max-width: 769px) {
  .SUSCRIBE__SUBS {
    width: 461px;
    height: 56px;
    margin-left: 90px;
    margin-top: 217px;
  }
}
@media (max-width: 376px) {
  .SUSCRIBE__SUBS {
    flex-direction: column;
    width: 333px;
    height: 160px;
    margin-top: 308px;
    margin-left: 21px;
  }
}

.subs__em-inp {
  width: 372px;
  height: 78px;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #14183e;
  letter-spacing: 0.02em;
  border-radius: 192px;
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #fff 0%, #e2e2e2 100%);
}
@media (max-width: 769px) {
  .subs__em-inp {
    width: 256px;
    height: 55px;
  }
}
@media (max-width: 376px) {
  .subs__em-inp {
    width: 333px;
    height: 69px;
  }
}

.subs__em-inp::-moz-placeholder {
  padding-left: 40px;
}

.subs__em-inp::placeholder {
  padding-left: 40px;
}
@media (max-width: 769px) {
  .subs__em-inp::-moz-placeholder {
    padding-left: 29px;
  }
  .subs__em-inp::placeholder {
    padding-left: 29px;
  }
}
@media (max-width: 376px) {
  .subs__em-inp::-moz-placeholder {
    padding-left: 54px;
  }
  .subs__em-inp::placeholder {
    padding-left: 54px;
  }
}

.subs-button {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .subs-button {
    font-size: 18px;
    width: 174px;
    height: 55px;
  }
}
@media (max-width: 376px) {
  .subs-button {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__get-started_btn, .get-started__get-started_btn {
  border-radius: 192px;
  width: 243px;
  height: 78px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: none;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
  background: linear-gradient(356deg, #98aa28 0%, #d6ff7e 100%);
}
@media (max-width: 769px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 18px;
    width: 224px;
    height: 71px;
  }
}
@media (max-width: 376px) {
  .header__get-started_btn, .get-started__get-started_btn {
    font-size: 20px;
    width: 224px;
    height: 71px;
  }
}

.header__top__free-trial_but {
  border: 1px solid rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 35px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: none;
  color: #fff;
}
@media (max-width: 769px) {
  .header__top__free-trial_but {
    padding: 19px 38px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .header__top__free-trial_but {
    padding: 10px 27px;
    font-size: 12px;
  }
}

.footer__soc-medias, .footer, .header__top_var, .var__mobile-list, .var__list, .header__title_desc, .corporation-list, .see-more, .get-started, .help-u__txt-group, .help-u__variant-group, .help-u__variant__circles, .help-u__variant__topic-titles, .articles-section, .article-type-chosen, .article_group, .SUSCRIBE__SUBS {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__get-started_btn, .corporations, .get-started__get-started_btn, .variant__topic-circle, .subs-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs__txt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer {
  width: 1170px;
  height: 366px;
  flex-direction: column;
  margin: auto;
}
@media (max-width: 769px) {
  .footer {
    width: 375px;
    height: 1600px;
  }
}
@media (max-width: 376px) {
  .footer {
    width: 375px;
    height: 1502px;
  }
}

.footer__menu {
  width: 1130px;
  height: 239px;
  display: flex;
  align-items: start;
}
@media (max-width: 769px) {
  .footer__menu {
    flex-direction: column;
    width: 375px;
    height: 1411px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (max-width: 376px) {
  .footer__menu {
    height: 1282px;
  }
}

.footer__company {
  width: 354px;
  height: 236px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
@media (max-width: 769px) {
  .footer__company {
    margin: 0 auto;
    align-items: center;
    width: 335px;
    height: 264px;
    justify-content: space-between;
  }
}
@media (max-width: 376px) {
  .footer__company {
    width: 303px;
  }
}

.footer__company-desc {
  margin-top: 32px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
  color: #78847D;
  width: 354px;
  height: 102px;
}
@media (max-width: 769px) {
  .footer__company-desc {
    text-align: center;
    width: 335px;
  }
}
@media (max-width: 376px) {
  .footer__company-desc {
    width: 303px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 189%;
    color: #78847D;
  }
}

.footer__soc-medias {
  width: 168px;
  height: 40px;
  margin-top: 30px;
}

.footer__menus_list {
  width: 629px;
  height: 232px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 172px;
}
@media (max-width: 769px) {
  .footer__menus_list {
    width: 201px;
    height: 775px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .footer__menu-list {
    align-items: center;
  }
}

.footer__menu-menu {
  width: 117px;
  height: 198px;
}
@media (max-width: 769px) {
  .footer__menu-menu {
    width: 201px;
    height: 205px;
  }
}
@media (max-width: 376px) {
  .footer__menu-menu {
    height: 227px;
  }
}

.footer-menu-title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 142%;
  color: #253D32;
  height: 34px;
}

.footer-menu_link {
  margin-top: 9px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #78847D;
  height: 16px;
}

.footer-first-li {
  margin-top: 28px;
}

.footer__menu-services {
  width: 222px;
  height: 198px;
}

.footer__menu-company {
  width: 150px;
  height: 232px;
  top: 0;
}

.footer__devider {
  height: 1px;
  background-color: rgba(20, 24, 62, 0.15);
  width: 1170px;
}
@media (max-width: 769px) {
  .footer__devider {
    width: 375px;
    margin: 0 auto;
  }
}

.copyright {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 212%;
  color: #78847D;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .none {
    display: none;
  }
}

.md-none {
  display: none;
}
@media (max-width: 769px) {
  .md-none {
    display: block;
  }
}
@media (max-width: 769px) and (max-width: 376px) {
  .md-none {
    display: none;
  }
}

.sm-none {
  display: none;
}
@media (max-width: 376px) {
  .sm-none {
    display: block;
  }
}

.divider-none {
  display: none;
}
@media (max-width: 769px) {
  .divider-none {
    display: flex;
  }
}

.ds_md-none {
  display: block;
}
@media (max-width: 376px) {
  .ds_md-none {
    display: none;
  }
}/*# sourceMappingURL=base.css.map */