@import url(' https://fonts.cdnfonts.com/css/rubik ');

$font-family: 'Rubik', sans-serif;
$title-color: #253D32;
$main-color: #78847D;
$white: #fff; 
$black: #000; 
$accent-color: #A3B938;
$accent-color-sec: #98AA28;
$dotted-stroke-color: #A2BDAA;